*{
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}
.custom-font{
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.barra{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

#presentacion {
    height: 98vh;
    display: flex;
    justify-content: start;
    align-items: center;

    background-image: url("imagenes/fondo5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#testimonios{
    height: 98vh;
    display: flex;
    justify-content: start;
    align-items: center;
}


#proyecto-1 {
    background-image: url('imagenes/modulo.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

#proyecto-2 {
    background-image: url('imagenes/foto.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#proyecto-3 {
    background-image: url('imagenes/foto.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-shadow-1 {
    text-shadow: 1px -1px 8px rgba(0, 0, 0, 1);
}

.custom-black {
    color: black; /* Color del texto */
    border-color: black; /* Color del borde */
}

.custom-black-btn:hover {
    background-color: #333; /* Color de fondo al pasar el ratón */
    border-color: #333; /* Color del borde al pasar el ratón */
}